<div class="container main">
    <h3 style="font-family: Trattatello, fantasy;" class="d-flex justify-content-center bg-info p-3">Department and Employee management portal</h3>

    <button routerLink="department" class="m-1 mb-4 btn btn-primary"> Department</button>
    <button routerLink="employee" class="m-1 mb-4 btn btn-warning text-light"> Employee </button>
         
<router-outlet></router-outlet>
<footer class="bg-info">
    <h5 style="font-family: Apple Chancery, cursive;" class="d-flex justify-content-center p-5">Project with Angular 13, django and Rest Frame works</h5>
</footer>

</div>